@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --main-color: #719895;
    --border-color: #86999A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

a {
    text-decoration: none;
}

.button{
    background-color: var(--main-color);
    padding: 15px 40px;
    font-size: 34px;
    font-weight: 400;
    border: 2px solid var(--border-color);
    transition: .2s;
}

.button:hover{
    background-color: #4F706D;
}

body {
    background-color: #CCC;
}

/* SCROLL BAR */
body::-webkit-scrollbar {
    width: 17px;
  }
  
  body::-webkit-scrollbar-track {
    background: #111;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #111;    
    border-radius: 20px;
    border: 1px solid #333;
  }

/* MAIN AREA */
#main-banner{
    display: flex;
    height: 100vh;
    background-image: url(../assets/img/background_blur.jpg);
    background-position: center;
    background-size: cover;
    padding: 50px 0 0 0;
}

.main-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.game-logo{
    width: 60%;
}

.avaliable-now{
    margin-top: 20px;
}

.game-creator{
    margin-top: 20px;
    width: 40%;
    font-weight: 300;
    text-align: center;
}


.main-image{
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.sam-image{
    width: 85%;
}

/*QUOTE AREA*/
#quote{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    height: 200px;
}


/* TRAILER AREA */
#trailer-area{
    display: flex;
    height: 500px;
    overflow: hidden;
}

.video-area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.46) 103.4%);
}

.video-background {
    width: 100%;
    height: auto;
    z-index: -1;
}

.video-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    width: 35%;
    text-align: center;
    padding: 60px;
}

.video-info-title {
    font-size: 40px;
}

.video-info-title span {
    color: var(--main-color);
}

.video-info-text {
    margin: 15px 0;
}

.video-btn {
    font-size: 22px;
    margin-top: 10px;
}


/* FOOTER AREA */
#footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    padding: 40px 0;
    text-align: center;
}

.footer-text {
    color: #CCC;
    margin-bottom: 10px;
}

/* MEDIA */
@media (min-width: 769px) and (max-width: 1024px) {
    .button{
        padding: 10px 20px;
    }
    .main-area{
        width: 45%;
        padding: 0;
        align-items: center;
    }
    .game-logo{
        width: 80%;
    }
    .game-creator{
        font-size: 14px;
    }

    .main-image{
        display: flex;
        align-items: flex-end;
        justify-content: center;  
    }
    .sam-image {
        width: auto;
        height: 90%;
    }



    .video-area{
        overflow: hidden;
    }

    .video-background {
        width: auto;
        height: 100%;
    }
    
    .video-info{
        width: 40%;
    }
}

@media (min-width: 426)  and (max-width: 768px) {
    .button{
        padding: 10px 20px;
        font-size: 28px;
    }

    #main-banner {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main-area{
        justify-content: end;
        width: 50%;
        height: 60%;
    }
    .game-logo{
        width: 90%;
    }
    .game-creator{
        font-size: 12px;
        width: 60%;
        margin: 10px 0;
    }


    .main-image {
        flex: 1;
    }
    .sam-image{
        width: auto;
        height: 100%;
    }

    .video-area{
        overflow: hidden;
    }
    .video-background{
        width: auto;
        height: 100%;
    }

    .video-info{
        width: 50%;
    }
    .video-info-title{
        font-size: 32px;
    }
    .video-info-text{
        font-size: 14px;
    }
    .video-btn{
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    .button{
        padding: 7px 10px;
        font-size: 16px;
    }

    #main-banner {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .main-area{
        justify-content: end;
        width: 85%;
        height: 60%;
    }
    .game-logo{
        width: 100%;
    }
    .game-creator{
        font-size: 11px;
        width: 90%;
        margin: 10px 0;
    }

    .main-image {
        flex: 1;
    }
    .sam-image{
        width: auto;
        height: 100%;
    }

    #quote h1{
        font-size: 18px;
    }


    #trailer-area{
        flex-direction: column;
    }
    .video-area{
        overflow: hidden;
        background: rgba(0, 0, 0, 0.2);
    }
    .video-background{
        width: 100%;
        height: auto;
    }

    .video-info{
        width: 100%;
        height: 65%;
        padding: 20px;
    }
    .video-info-title{
        font-size: 28px;
    }
    .video-info-text{
        font-size: 12px;
    }
    .video-btn{
        font-size: 14px;
    }

    #footer{
        font-size: 12px;
    }
}



/*
@media (min-aspect-ratio: 16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .video-background {
        width: 100%;
        height: auto;
    }
}